<!-- generate date -->
<div class="filter">
  <select [(ngModel)]="selectedMonth">
    <option [value]="0">Январь</option>
    <option [value]="1">Февраль</option>
    <option [value]="2">Март</option>
    <option [value]="3">Апрель</option>
    <option [value]="4">Май</option>
    <option [value]="5">Июнь</option>
    <option [value]="6">Июль</option>
    <option [value]="7">Август</option>
    <option [value]="8">Сентябрь</option>
    <option [value]="9">Октябрь</option>
    <option [value]="10">Ноябрь</option>
    <option [value]="11">Декабрь</option>
  </select>

  <select [(ngModel)]="selectedYear">
    <option *ngFor="let year of years" [value]="year">
      {{ year }}
    </option>
  </select>
  <button (click)="generateCalendar()">Сгенерировать</button>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Сотрудники</th>
        <th *ngFor="let day of calendarData">{{ day.date }}</th>
      </tr>
      <tr>
        <th>Дни недели</th>
        <th *ngFor="let day of calendarData">{{ day.weekday }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let worker of workers">
        <td>{{ worker.name }}</td>

        <td *ngFor="let day of calendarData; let i = index">
          <button
            matButton
            [ngClass]="{
              statusDiv: true,
              'status-present': worker.statusDays[i] === 'P',
              'status-vacation': worker.statusDays[i] === 'V',
              'status-absent': worker.statusDays[i] === 'A',
              'status-late': worker.statusDays[i] === 'L',
              'status-none': !worker.statusDays[i]
            }"
            [matMenuTriggerFor]="menu"
            class="statusDiv"
            [class.selected-cell]="isSelected(worker.id, i)"
            (mousedown)="onMouseDown($event, worker.id, i)"
            (mouseenter)="onMouseEnter($event, worker.id, i)"
            (menuOpened)="isMenuOpen = true"
            (menuClosed)="isMenuOpen = false"
          >
            {{ worker.statusDays[i] }}
          </button>
          <mat-menu #menu="matMenu" class="menuDialog">
            @for (type of dayType; track type.id) {
            <div>
              <button
                mat-menu-item
                (click)="onDayStatusSelect(worker, i, type.key)"
              >
                {{ type.name }}
              </button>
            </div>
            }
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>
</div>
